body {
    background: url('../img/loginback.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#register-box {
    width: 30%;
    height: 300px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
}

#register-box h1 {
    color: #fff;
}

#register-box .form .item input {
    margin-top: 15px;
}

#register-box .form i {
    font-size: 18px;
    color: #fff;
    vertical-align: auto;
}

#register-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid#fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
    border-radius: 15px;
}

.register {
    margin-top: 20px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right, #684e4e 12%, #3b3a4ee1 40%);
    /* border: 0; */
    border-radius: 15px;
}

.AIsing {
    font-style: italic;
    text-shadow: 0px 0px 8px #fff, 0px 0px 42px #f72, 0px 0px 72px #f84, 0px 0px 150px #fa5;
}

.reg-photo {
    margin-top: 20px;
    width: 97px;
    font-size: 20px;
    background: linear-gradient(to right, #c41d62 12%, #1053a0fd 100%, #c41d62 12%);
    padding: 5px 10px;
    border-radius: 15px;
    height: 30px;
}

video,
canvas {
    /* padding-left: 686px; */
    margin-left: 680px;
    /* margin-bottom: 100px; */
    /* border: #c41d62 1px solid; */
    width: 320px;
    height: 240px;
    position: absolute;
}